<div id="<%= dom_id post %>">
  <p>
    <h3>
      <%= post.title %>
    </h3>
    <h4>
      posted by
      <%= link_to post.user.name, user_path(post.user) %>
    </h4>
    <h6> <%= pluralize(post.views, "view") %></h6>
  </p>
  <p>
    <%= post.body %>
  </p>
</div>
